                                            Final Project CS636
                                                    Team
                                            Devam Shah (dms224)
                                            Janki Patel (jrp244)
                                            Krina Patel (kjp77)
                                            Maharshi jani (mdj7)

In [2]:
# read data from csv files
csv_sales_train = read.csv('sales_train.csv')
csv_item_categories = read.csv('item_categories.csv')
csv_items = read.csv('items.csv')
csv_sample_submission = read.csv('sample_submission.csv')
csv_shops = read.csv('shops.csv')
csv_test = read.csv('test.csv')

In [3]:
head(csv_sales_train)

  date       date_block_num shop_id item_id item_price item_cnt_day
1 02.01.2013 0              59      22154    999.00     1
2 03.01.2013 0              25       2552    899.00     1
3 05.01.2013 0              25       2552    899.00    -1
4 06.01.2013 0              25       2554   1709.05     1
5 15.01.2013 0              25       2555   1099.00     1
6 10.01.2013 0              25       2564    349.00     1

In [4]:
head(csv_item_categories)

  item_category_name                       item_category_id
1 PC - Ð“Ð°Ñ\200Ð½Ð¸Ñ‚ÑƒÑ\200Ñ‹/Ð\235Ð°ÑƒÑ\210Ð½Ð¸ÐºÐ¸ 0
2 Ð\220ÐºÑ\201ÐµÑ\201Ñ\201ÑƒÐ°Ñ\200Ñ‹ - PS2               1
3 Ð\220ÐºÑ\201ÐµÑ\201Ñ\201ÑƒÐ°Ñ\200Ñ‹ - PS3               2
4 Ð\220ÐºÑ\201ÐµÑ\201Ñ\201ÑƒÐ°Ñ\200Ñ‹ - PS4               3
5 Ð\220ÐºÑ\201ÐµÑ\201Ñ\201ÑƒÐ°Ñ\200Ñ‹ - PSP               4
6 Ð\220ÐºÑ\201ÐµÑ\201Ñ\201ÑƒÐ°Ñ\200Ñ‹ - PSVita            5

In [5]:
head(csv_items)

  item_name
1 ! Ð’Ðž Ð’Ð›Ð\220Ð¡Ð¢Ð\230 Ð\235Ð\220Ð’Ð\220Ð–Ð”Ð•Ð\235Ð\230Ð¯ (ÐŸÐ›Ð\220Ð¡Ð¢.)         D
2 !ABBYY FineReader 12 Professional Edition Full [PC, Ð¦Ð¸Ñ„Ñ\200Ð¾Ð²Ð°Ñ\217 Ð²ÐµÑ\200Ñ\201Ð¸Ñ\217]
3 ***Ð’ Ð›Ð£Ð§Ð\220Ð¥ Ð¡Ð›Ð\220Ð’Ð«   (UNV)                    D
4 ***Ð“ÐžÐ›Ð£Ð‘Ð\220Ð¯ Ð’ÐžÐ›Ð\235Ð\220  (Univ)                      D
5 ***ÐšÐžÐ ÐžÐ‘ÐšÐ\220 (Ð¡Ð¢Ð•ÐšÐ›Ðž)                       D
6 ***Ð\235ÐžÐ’Ð«Ð• Ð\220ÐœÐ•Ð Ð\230ÐšÐ\220Ð\235Ð¡ÐšÐ\230Ð• Ð“Ð Ð\220Ð¤Ð¤Ð\230Ð¢Ð\230  (UNI)             D
  item_id item_category_id
1 0       40
2 1       76
3 2       40
4 3       40
5 4       40
6 5       40

In [6]:
head(csv_sample_submission)

  ID item_cnt_month
1 0  0.5
2 1  0.5
3 2  0.5
4 3  0.5
5 4  0.5
6 5  0.5

In [7]:
head(csv_shops)

  shop_name                                               shop_id
1 !Ð¯ÐºÑƒÑ‚Ñ\201Ðº ÐžÑ\200Ð´Ð¶Ð¾Ð½Ð¸ÐºÐ¸Ð´Ð·Ðµ, 56 Ñ„Ñ\200Ð°Ð½     0
2 !Ð¯ÐºÑƒÑ‚Ñ\201Ðº Ð¢Ð¦ "Ð¦ÐµÐ½Ñ‚Ñ\200Ð°Ð»ÑŒÐ½Ñ‹Ð¹" Ñ„Ñ\200Ð°Ð½    1
3 Ð\220Ð´Ñ‹Ð³ÐµÑ\217 Ð¢Ð¦ "ÐœÐµÐ³Ð°"                            2
4 Ð‘Ð°Ð»Ð°Ñ\210Ð¸Ñ…Ð° Ð¢Ð Ðš "ÐžÐºÑ‚Ñ\217Ð±Ñ\200ÑŒ-ÐšÐ¸Ð½Ð¾Ð¼Ð¸Ñ\200" 3
5 Ð’Ð¾Ð»Ð¶Ñ\201ÐºÐ¸Ð¹ Ð¢Ð¦ "Ð’Ð¾Ð»Ð³Ð° ÐœÐ¾Ð»Ð»"             4
6 Ð’Ð¾Ð»Ð¾Ð³Ð´Ð° Ð¢Ð Ð¦ "ÐœÐ°Ñ\200Ð¼ÐµÐ»Ð°Ð´"                5

In [8]:
head(csv_test)

  ID shop_id item_id
1 0  5       5037
2 1  5       5320
3 2  5       5233
4 3  5       5232
5 4  5       5268
6 5  5       5039

In [9]:
# merge the data by item_id. So that we can get item category with other data of csv_sales_train
merge_csv_data = merge(csv_items,csv_sales_train,by="item_id")
head(merge_csv_data)

  item_id
1 0
2 1
3 1
4 1
5 1
6 1
  item_name
1 ! Ð’Ðž Ð’Ð›Ð\220Ð¡Ð¢Ð\230 Ð\235Ð\220Ð’Ð\220Ð–Ð”Ð•Ð\235Ð\230Ð¯ (ÐŸÐ›Ð\220Ð¡Ð¢.)         D
2 !ABBYY FineReader 12 Professional Edition Full [PC, Ð¦Ð¸Ñ„Ñ\200Ð¾Ð²Ð°Ñ\217 Ð²ÐµÑ\200Ñ\201Ð¸Ñ\217]
3 !ABBYY FineReader 12 Professional Edition Full [PC, Ð¦Ð¸Ñ„Ñ\200Ð¾Ð²Ð°Ñ\217 Ð²ÐµÑ\200Ñ\201Ð¸Ñ\217]
4 !ABBYY FineReader 12 Professional Edition Full [PC, Ð¦Ð¸Ñ„Ñ\200Ð¾Ð²Ð°Ñ\217 Ð²ÐµÑ\200Ñ\201Ð¸Ñ\217]
5 !ABBYY FineReader 12 Professional Edition Full [PC, Ð¦Ð¸Ñ„Ñ\200Ð¾Ð²Ð°Ñ\217 Ð²ÐµÑ\200Ñ\201Ð¸Ñ\217]
6 !ABBYY FineReader 12 Professional Edition Full [PC, Ð¦Ð¸Ñ„Ñ\200Ð¾Ð²Ð°Ñ\217 Ð²ÐµÑ\200Ñ\201Ð¸Ñ\217]
  item_category_id date       date_block_num shop_id item_price item_cnt_day
1 40               01.09.2014 20             54        58       1
2 76               02.04.2014 15             55      4490       1
3 76               04.08.2014 19             55      4490       1
4 76               04.04.2014 15             55      4490       1
5 76               20.10.2014 21             55      4490       1
6 76               06.07.2014 18             55      4490       1

In [19]:
library(data.table) #for creating a data table
#Convert merge_csv_data into data table
merge_csv_datatable = as.data.table(merge_csv_data)
# add sum of item_cnt_day into item_cnt_month base on item id, item category, item price, shop id and date block num
updated_merge_csv_datatable = merge_csv_datatable[, list(item_cnt_month=(sum(item_cnt_day))), by = c("item_id", "item_category_id", "item_price", "shop_id", "date_block_num")]

In [11]:
head(updated_merge_csv_datatable)
# displat total number of rows
nrow(updated_merge_csv_datatable)

  item_id item_category_id item_price shop_id date_block_num item_cnt_month
1 0       40                 58       54      20             1
2 1       76               4490       55      15             2
3 1       76               4490       55      19             1
4 1       76               4490       55      21             1
5 1       76               4490       55      18             1
6 1       76               4490       55      20             1

[1] 1739022

In [12]:
# used functoin lm - Multiple Linear Regression which creates regression model
model = lm(formula=(item_cnt_month)~item_id+item_category_id+shop_id+date_block_num, data = updated_merge_csv_datatable)
summary(model)

Call:
lm(formula = (item_cnt_month) ~ item_id + item_category_id +
    shop_id + date_block_num, data = updated_merge_csv_datatable)

Residuals:
    Min      1Q  Median      3Q     Max
 -24.05   -1.10   -1.07   -0.11 2166.86

Coefficients:
                   Estimate Std. Error t value Pr(>|t|)
(Intercept)       2.173e+00  2.141e-02 101.469  < 2e-16 ***
item_id          -3.006e-06  9.781e-07  -3.073  0.00212 **
item_category_id -1.674e-03  3.668e-04  -4.563 5.05e-06 ***
shop_id           6.414e-04  3.511e-04   1.827  0.06770 .
date_block_num    2.779e-04  6.055e-04   0.459  0.64628
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 7.62 on 1739017 degrees of freedom
Multiple R-squared:  2.689e-05,	Adjusted R-squared:  2.459e-05
F-statistic: 11.69 on 4 and 1739017 DF,  p-value: 1.702e-09

In [13]:
# Adding extra 2 column in csv_test for 11 month and date_block_num as 34 which means November 2015 
csv_test$month = 11
csv_test$date_block_num = 34
head(csv_test)

  ID shop_id item_id month date_block_num
1 0  5       5037    11    34
2 1  5       5320    11    34
3 2  5       5233    11    34
4 3  5       5232    11    34
5 4  5       5268    11    34
6 5  5       5039    11    34

In [14]:
# merge the data by item_id. So that we can get item category with other data of csv_test
merge_csv_test = merge(csv_test, csv_items, by = c("item_id"))
head(merge_csv_test)

  item_id ID     shop_id month date_block_num
1 30      160687 56      11    34
2 30      175987 35      11    34
3 30       89287 18      11    34
4 30      114787 49      11    34
5 30       28087  7      11    34
6 30       73987 21      11    34
  item_name                                      item_category_id
1 007: ÐšÐžÐžÐ Ð”Ð\230Ð\235Ð\220Ð¢Ð« Â«Ð¡ÐšÐ\220Ð\231Ð¤ÐžÐ›Ð›Â» 40
2 007: ÐšÐžÐžÐ Ð”Ð\230Ð\235Ð\220Ð¢Ð« Â«Ð¡ÐšÐ\220Ð\231Ð¤ÐžÐ›Ð›Â» 40
3 007: ÐšÐžÐžÐ Ð”Ð\230Ð\235Ð\220Ð¢Ð« Â«Ð¡ÐšÐ\220Ð\231Ð¤ÐžÐ›Ð›Â» 40
4 007: ÐšÐžÐžÐ Ð”Ð\230Ð\235Ð\220Ð¢Ð« Â«Ð¡ÐšÐ\220Ð\231Ð¤ÐžÐ›Ð›Â» 40
5 007: ÐšÐžÐžÐ Ð”Ð\230Ð\235Ð\220Ð¢Ð« Â«Ð¡ÐšÐ\220Ð\231Ð¤ÐžÐ›Ð›Â» 40
6 007: ÐšÐžÐžÐ Ð”Ð\230Ð\235Ð\220Ð¢Ð« Â«Ð¡ÐšÐ\220Ð\231Ð¤ÐžÐ›Ð›Â» 40

In [15]:
# Predict function will predict for new data set base on regression model and merge_csv_test which we created above
predict_result = predict(model, newdata = merge_csv_test, type="response")
head(predict_result)

       1        2        3        4        5        6
2.150931 2.137461 2.126557 2.146441 2.119502 2.128481

In [16]:
# cbind will bind ID from merge_csv_test and predict_result  
final = cbind(merge_csv_test[,2], predict_result)
head(final)

         predict_result
1 160687 2.150931
2 175987 2.137461
3  89287 2.126557
4 114787 2.146441
5  28087 2.119502
6  73987 2.128481

In [17]:
library(dplyr)
# change column name of final with some meaning full name like ID and item_cnt_month
colnames(final) = c("ID", "item_cnt_month")
# change final to data.frame
final = as.data.frame(final)
# by default ID is consider as string so convert it into integer
final$ID <- as.integer(final$ID)
# Sort final by ID
final = arrange(final, ID)
head(final)

      ID item_cnt_month
50191 0  2.138312
52695 1  2.077214
52045 2  2.137723
52007 3  2.131031
52296 4  2.135944
50287 5  2.131612

In [18]:
# Save the data to submission.csv
write.csv(final, "submission.csv", row.names = FALSE, quote = FALSE)